

html, body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	border: 0;
	padding: 0;
	width:100%;
    height:100%;
    background:url("img/fon.png") #fff;
    
}

ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 768px) {
  	.cont{
   	 	width: 750px;
  	}
  	.cont_admin{
   	 	width: 750px;
  	}
  	#cont_list {
		width: 515px;
	}
	#listBook{
	width: 460px;
  	}
}
@media (min-width: 992px) {
  .cont {
    width: 970px;
  }
    .cont_admin {
    width: 970px;
  }
  #cont_list {
	width: 735px;
  }
  #listBook{
	width: 690px;
  }

}
@media (min-width: 1200px) {
  	.cont {
   	 	width: 1170px;
  	}
  	  .cont_admin {
    width: 1170px;
  }
 	 #cont_list {
		width: 935px;
	}
	#listBook{
		width: 920px;
  	}
}

#top_panel {
	position: absolute;
	height: 45px;
	top:0px;
	left:0px;
	width: 100%;
	background-color: rgba(27, 27, 27, 1);
	z-index:5;
	opacity:1;
}
#search_panel {
	opacity:1;
	position: absolute;
	top:45px;
	left:0px;
	height: 50px;
	width: 100%;
	background-color:rgba(27, 27, 27, 0.95);
	z-index:5;
}


.searchHPanel{
	float:right;
	margin-top: 10px;
	margin-right: 30px;
}
.searchBox, .searchButton{
	outline: 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    border: 0;
    height: 30px;
    		  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}



.searchButton{
    border-radius: 0 3px 3px 0;
	height: 30px;
	width: 30px;
	cursor: pointer;
}


.searchBox{
	float: right;
	width: 30%;
	padding: 0 10px;
	border-radius: 3px 0 0 3px;
}

.searchButton:hover {
	background-color:rgba(253, 198, 0, 0.7);
}

.searchBox:focus{
	background-color:rgba(255, 255, 255, 0.2);
	width: 100%;
	border-radius: 15px 0 0 15px;
}

.header {
	position: absolute;
    height: 350px;
    width: 100%;
    opacity:0.8;
    min-width: 750px;
	background:url("img/6.jpg") no-repeat #fff;
	background-size:cover;
    text-align: center;
}
.text{	
	width: 300px;
	position: relative;
	top:110px;
	color: black;
	text-align: center;
	display: block;
	margin: 0px auto;
}
h1{
		font-family: sans-serif;
		color: #fff;
		font-size: 33px;
		font-weight: bold;
		text-decoration: none;
}
a{
	text-decoration: none;
}
#view_books{
	border-radius: 20px;
	padding-top:30px;
	background:rgba(255, 255, 255, 0.8);
	overflow: hidden;
}
.cont_admin #view_books{
	padding-top:30px;
	background:rgba(255, 255, 255, 0.8);
	overflow: hidden;
	border-radius:0px 0px 5px 5px;
}
.cont {
	z-index: 1;
	position: relative;
	top:293px;
	min-width: 750px;
	margin: 0 auto;
	overflow: hidden;
	border-radius:5px 5px 0px 0px;
	-webkit-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	-moz-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
}

.cont_admin {
	z-index: 1;
	position: relative;
	min-width: 750px;
	margin: 0 auto;
	overflow: hidden;
	border-radius:5px 5px 0px 0px;
	-webkit-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	-moz-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
}

#container{
	width: 100%;
	height: 55px;
	background:rgba(25, 25, 25, 0.88);
	border-radius:5px 5px 0px 0px;
	border-bottom: 4px solid rgba(253, 198, 0, 1);
}

.gwt-MenuBarPopup{
	z-index:4;
	color:rgba(25, 25, 25, 0.88);
	
}

.gwt-MenuBar .gwt-MenuItem{

	font-size: 9pt;
	padding: 17px;
    border-bottom: 5px solid transparent;
	border-top: 0;
	border-left: 0;
    left: 10px;
	color: #f9f9f9;
	font-weight: 700;
    text-transform: uppercase;
	cursor:pointer;
	
}

.gwt-MenuBar .gwt-MenuItem:hover{
	color: rgb(253, 198, 0);
    text-shadow: 0px 0px 10px #000000;
		  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
  
	
}

.gwt-MenuBar .gwt-MenuItem-selected{
}


.nav {
	position: relative;
	float: left;
	width: 200px;
}
.cont_list {
   border-top: 1px solid rgba(37, 32, 46, 0.63);
}

#cont_list {
	min-width: 515px;
	position: relative;
	margin-left: 200px;
}

#listBook{
	margin-left: 35px;
}


#sprint_page,
#sprint_top_page{
	zoom: 0.85;
	  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
#sprint_page{
	margin: 0 auto 20px;
}
#sprint_top_page{
	margin: 0 auto 10px;
    opacity: 0.5;
}
#sprint_top_page:hover{
    opacity: 1;
} 
#sprint_top_page a,
#sprint_top_page a:visited,
#sprint_page a,
 #sprint_page a:visited{
	color: #656567;
	text-decoration: none;
	padding: 3px 8px;
	margin: 0 3px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    transition: all .3s ease;

}
#sprint_top_page a:hover,
#sprint_page a:hover{
    background-color: rgba(253, 198, 0, 0.7);
    border: 1px solid transparent;
}
#sprint_top_page .active,
#sprint_page .active{
	background-color: rgba(253, 198, 0, 0.7);
    border: 1px solid transparent;
}

#closeButton {
}

#imageBook {
	color: #153643; 
	font-weight: bold;
	border: none;
	display: block;
	background-size: auto;
	height:310px;
	width: 200px;
	background-color: azure;
	cursor: pointer;
	text-align: center;
	background-position: center;
	-webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.5);
box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.5);
}
#info {
	color: #153643; 
}


#info{
	display: block; 
  position: relative; 
  z-index: 1;
}

#but{
	 position: absolute; 
	 top:0;
  color: white; 
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
#info:hover #but,
#info:active #but{
	background-color: rgba(214, 158, 0, 0.75);
	background: rgba(214, 158, 0, 0.75);
	z-index: 2;
	opacity: 1;
}


footer {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100px;
	width: 100%;
	position: relative;
	bottom: 0;
}

p {
	color: navy;
}

.hello {
	color: white;
	background-color: black;
	text-align: center;
}








.panel {
	border: 1px solid #e6e6e6;
	background-color: white;
	border-radius: 3px;
}

.panelForSelect {
	background-color: white;
	border-radius: 3px;
	padding: 1em;
}

#rightPanel{
    min-width: 350px;
    height: 373px;
}


.elem {
	display: inline-block;
	margin: 15px 15px 30px;
}

#text_center {
	text-align: center;
	cursor:pointer;
		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}
#link_center {
	text-align: center;
	cursor:pointer;
		text-align: center;
	cursor:pointer;
		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.button_center {
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
}

.button_center:focus {
	background-color: #eeeeee;
}

.button_center:hover {
	border: 1px solid #f4f4f4;
}
.nameBookFull {
	color: #1F1F1F;
    font-variant: small-caps;
    font-size: 24px;
}
.linkFull {
	color: slateblue;
	text-decoration: none;
	cursor:pointer;
}

.elem .linkAuthor {
	color: rgb(51, 51, 51);
    text-decoration: none;
    cursor: pointer;
}

.linkAuthor {
	color: slateblue;
	text-decoration: none;
	cursor:pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
    cursor: pointer;
}

.linkGenre {
	display: inline-block;
	color: slateblue;
	text-decoration: none;
	cursor:pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.linkGenre:hover, .linkGenre:active,
.linkAuthor:hover, .linkAuthor:active{

    text-decoration: underline;
}

.elem .linkGenre {
    color: rgb(148, 148, 148);
    text-decoration: none;
    cursor: pointer;
    		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.elem .linkGenre:hover, .elem .linkGenre:active,
.elem .linkAuthor:hover, .elem .linkAuthor:active,
.elem .linkToBook:hover, .elem .linkToBook:active{

    color: #F3C72A;
}


.elem .linkToBook {
	color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    cursor: pointer;
}

.linkFull:hover, .linkFull:active  { text-decoration: underline; } 

.labelFull {
	width: 150px;
	color: dimgray;
	border-bottom: 1px dotted Silver;
}
.cont_admin .labelFull {
	    float: right;
    text-align: right;
    width: 160px;
    color: dimgray;
    border-bottom: 0;
    line-height: 21px;
    margin-right: 10px;
}
.labelFullNotBorder {
	color: dimgray;
}
.textForDate{
	color: #66cc66;
	font-weight: 600;
	font-size: 12px;
	
}

.textDate{
	font-weight: 700;
	font-size: 12px;
	
}
#but_info{
	margin:0.3em 0;
}
.buttonAddIn {
	outline:0;
	position: relative;
    padding: 6px 10px 6px 10px;
    border: 2px solid #1C1C1C;
    //border-radius: 4px;
    font-weight: bold;
    color: #1C1C1C;
    text-decoration: none;
	background: transparent;
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
        		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
} 
  
.buttonAddIn:hover{ background: #1C1C1C;
    color: rgba(214, 158, 0, 0.75);}
.buttonAddIn:active { background: #333333;
    color: rgba(214, 158, 0, 0.75); }
.imageFull {
    margin:1em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}   

.labelText {
	color: Black;
	font-weight:900;
	font-size: 12pt;
	font-style: normal;
}
.textForBook {
margin:0.5em 1em;
}    

/* ПОИСК */

#search_box{
position:fixed;
	top:0;
}

}
/*навигация*/

#wrapper {	
	width: 200px;
	margin: 35px 0 0;
	/font-size: 0.8125em;
}
.menu {
	width: auto;
	height: auto;
}
.menu > li > a {
	border-left: 3px solid transparent;
	width: 100%;
	height: 3.75em;
	line-height: 3.75em;
	text-indent: 3.75em;
	display: block;
	position: relative;
	font-weight: 600;
	color: #000;
	text-transform:uppercase;
	-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
.menu ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	padding: 0.6em 2.75em 0.6em 3em;
	display: block;
	position: relative;
	font-size: 0.923em;
	font-weight: 400;
	color: #878d95;
	border-left: 3px solid rgba(253, 198, 0, 1);
	-webkit-box-shadow: 0px 8px 22px -17px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 8px 22px -17px rgba(0,0,0,0.7);
	box-shadow:  0px 8px 22px -17px rgba(0,0,0,0.7);
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}

.menu > li > a:hover{
	background-color: #fff;
	color: #6F6F6F;
	border-left: 3px solid rgba(253, 198, 0, 1);
	-webkit-box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
	box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
}

.menu > li > a.active {
	background-color: #fff;
	color: rgba(253, 198, 0, 1);
	border-left: 3px solid rgba(253, 198, 0, 1);
}
.menu > li > ul > li > a.active {
	background-color: #fff;
	color: rgba(253, 198, 0, 0.9);
	border-left: 3px solid rgba(253, 198, 0, 1);
}

.menu > li > ul > li:hover a.active span {
	color: #fff;
	border:1px solid rgba(253, 198, 0, 1);
}

.menu > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	/background: #a2a2a2;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #d0d0d3;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;

	font-weight: 500;
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
.menu > li > a:hover span, .menu > li a.active span {
	background: rgba(253, 198, 0, 1);
	color: #fff;
	border:1px solid rgba(253, 198, 0, 1);
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: rgba(253, 198, 0, 1);	
}
.menu > li > ul li:hover a span{
	border: 1px solid rgba(253, 198, 0, 1);
}


.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%;
	background: #fff;
	line-height: 1em;
	border: 1px solid #d0d0d3;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}


/*
* Корзина
*/

.basket{
	float: left;
    margin: 5px 30px;
}
.cart1 {
  padding: 0;
  margin: 0;
  max-width: 70px;
  cursor: pointer;
}
.cart1:hover .popup {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
#colCheck{ 
  position: relative;
  float: left;
  left:25px;
  z-index:5;
  color: #FFF;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  background: #FFC800;
  border-radius:999em;
  padding:0 4px;
}
.cart {
  width: 40px;
  height: 40px;
  border-radius: 9999em;
  border: none;
  background: #61324A;
  cursor: pointer;
}  
.cart:hover {   
 	box-shadow: inset 0 0 7px 0 rgba(0,0,0,0.5);     
}
  

.popup {  
  	visibility: hidden;
  	opacity: 0;
  	pointer-events: none;
    position: absolute;
    top: 45px;
    left: 35px;
    width: 260px;
    margin-top: 0%;
    background: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
} 
   .popup:after {
    position: absolute;
    content: ' ';
    height: 30px;
  }
  
   .popup:before {
    position: absolute;
    content: ' ';
    left: 10px;
    top: -6px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    background: #ffffff;
    box-shadow:1px -1px 1px 0 rgba(0,0,0,0.2);
   	transform: rotate(-45deg);
  }

.cart {
 	background-image: url(img/basket.png);
  	background-repeat: no-repeat;
  	background-position: center;
}

.removeBook{
	 cursor: pointer;
    background: #989898;
    color: #D6D6D6;
    border-radius: 99px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    font-size: 11pt;
}

.removeBook:hover{
    background: #7B7979;
    color: #B5B5B5;
}

.popup a,
.popup a:visited{
	color: #565656;
}

.popup a:hover,
.popup a:active{
	color: #B5B5B5;
}
.popup hr{
	margin: 0;
} 


/*
*
*/

.rating {
  	unicode-bidi: bidi-override;
  	direction: rtl;
}
.rating > .gwt-HTML {
    font-size: 18pt;
    color: rgba(253, 198, 0, 1);
    display: inline-block;
    position: relative;
    width: 1em;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);

}

.rating .state:before{
	color: rgba(253, 198, 0, 1);
    content: "\2605";
    position: absolute;
}	

.rating > .gwt-HTML:hover:before,
.rating > .gwt-HTML:hover ~ .gwt-HTML:before {
	color: rgb(255, 226, 0);
   	content: "\2605";
   	position: absolute;
}


/*
* Авторизация
*/

.form_auth{
	float: left;
    width: 200px;
    z-index: 10;
    height: 100px;
    background: rgba(0, 0, 0, 0.85);
    position: relative;
    top: 150px;
    left: 30px;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}
.form_auth p{
	color: #fff;
}
.form_auth p span{
	color: #FDC600;
    text-transform: capitalize;
}
/*
* ширина TextArea
*/

.gwt-TextArea{
	max-width:237px;
	min-width:237px;
}

.error_focus{
	outline: rgb(255, 110, 84) auto 5px;
}

.gwt-ListBox{
	overflow-x: auto;
	width: 270px;
    margin-left: 25px;
}

.reg{
	padding:10px 30px 30px 30px;
    border: 1px solid rgba(162, 162, 162, 0.08);
    background: rgba(243, 243, 243, 0.38);
    border-radius: 5px;
}
.reg h2{
	color: #4F4B5D;
    font-weight: 400;
    font-variant: small-caps;
    border-bottom: 1px solid #4F4B5D;
    padding-bottom: 5px;
    text-align: center;
    margin: 10px 0 30px 0;
}