body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	border: 0;
	padding: 0;
	width:100%;
    height:100%;
    background:url("img/fon.png") #fff;
    
}
.body {

}

ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 768px) {
  	.cont{
   	 	width: 750px;
  	}
  	#cont_list {
		width: 515px;
	}
	#listBook{
	width: 460px;
  	}
}
@media (min-width: 992px) {
  .cont {
    width: 970px;
  }
  #cont_list {
	width: 735px;
  }
  #listBook{
	width: 690px;
  }

}
@media (min-width: 1200px) {
  	.cont {
   	 	width: 1170px;
  	}
 	 #cont_list {
		width: 935px;
	}
	#listBook{
		width: 920px;
  	}
}

#top_panel {
	position: absolute;
	height: 45px;
	top:0px;
	left:0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	z-index:3;
}
#search_panel {
	position: absolute;
	top:45px;
	left:0px;
	height: 50px;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.8);
	z-index:3;
}

.header {
	position: absolute;
    height: 390px;
    width: 100%;
    opacity:0.8;
    min-width: 750px;
	background:url("img/6.jpg") no-repeat #fff;
	background-size:cover;
    text-align: center;



}
.text{
	top:110px;
}
h1{
		font-family: sans-serif;
		color: #fff;
		font-size: 33px;
		font-weight: bold;
		text-decoration: none;
}
a{
	text-decoration: none;
}

.cont {
	z-index: 1;
	position: relative;
	top:335px;
	min-width: 750px;
	margin: 0 auto;
	background: #fff;
	border-radius:5px 5px 0px 0px;
	-webkit-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	-moz-box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
	box-shadow: 0px 0px 32px -14px rgba(117,117,117,1);
}

#container{
	width: 100%;
	height: 55px;
	background:#fff;
	border-radius:5px 5px 0px 0px;
	margin-bottom:30px;
	border-bottom: 4px solid rgba(253, 198, 0, 0.7);
}

.gwt-MenuBarPopup{
	z-index:4;
	
	
}

.gwt-MenuBar .gwt-MenuItem{

	padding: 17px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid transparent;
	border-top: 0;
	border-left: 0;
    left: 10px;
	color: #333333;
	font-weight: 700;
    text-transform: uppercase;
	cursor:pointer;
	background: rgba(37, 32, 46, 0.02);
	
}

.gwt-MenuBar .gwt-MenuItem:hover{
	color: #6F6F6F;
	background-color: rgba(253, 198, 0, 0.7);
		  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
	
}

.gwt-MenuBar .gwt-MenuItem-selected{
	background-color: rgba(253, 198, 0, 0.7);
}


.nav {
	position: relative;
	float: left;
	width: 200px;
}
.cont_list {
   //	border-top: 1px solid rgba(37, 32, 46, 0.63);
}

#cont_list {
	min-width: 515px;
	position: relative;
	margin-left: 200px;
}

#listBook{
	margin-left: 35px;
}

#sprint_page{
	margin: 0 auto 20px;
}

#sprint_page a, #sprint_page a:visited{
	color: #333333;
	text-decoration: none;
	padding: 3px 8px;
	margin: 0 3px;
    font-weight: 700;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    transition: all .3s ease;

}
#sprint_page a:hover{

    background-color: rgba(253, 198, 0, 0.7);
    border: 1px solid transparent;
}

#sprint_page .active{
	background-color: rgba(253, 198, 0, 0.7);
    border: 1px solid transparent;
}

#closeButton {
}

#imageBook {
	color: #153643; 
	font-weight: bold;
	border: none;
	display: block;
	background-size: auto;
	height:310px;
	width: 200px;
	background-color: azure;
	cursor: pointer;
	text-align: center;
	background-position: center;
}
#info {
	color: #153643; 
}

img:after   { 
	position: relative;
	top: 50px;
	padding-top: 50px;
	text-align: center;
	content:"Изображение еще не добавлено или произошла проблемма с загрузкой"; 
	}
img::after  {
	position: relative;
	top: 50px;
	text-align: center;
	content:"Изображение еще не добавлено или произошла проблемма с загрузкой"; 
	} /* New CSS3 standard notation */


#info{
	display: block; 
  position: relative; 
  z-index: 1;
}

#but{
	 position: absolute; 
	 top:0;
  color: white; 
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
#info:hover #but{
	background-color: rgba(253, 198, 0, 0.7);
	background: rgba(253, 198, 0, 0.7);
	z-index: 2;
	opacity: 1;
}


footer {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100px;
	width: 100%;
	position: relative;
	bottom: 0;
}

p {
	color: navy;
}

.hello {
	color: white;
	background-color: black;
	text-align: center;
}

.text {
	position: relative;
	color: black;
	text-align: center;
	display: block;
	margin: 0px auto;
	margin-top:40px;
}






.panel {
	border: 1px solid #e6e6e6;
	background-color: white;
	border-radius: 3px;
}

.panelForSelect {
	border: 1px solid #e6e6e6;
	background-color: white;
	border-radius: 3px;
	padding: 1em;
}

#rightPanel{
    min-width: 350px;
    height: 373px;
}


.elem {
	display: inline-block;
	margin: 15px 15px 30px;
	background-color: white;
}

#text_center {
	text-align: center;
	cursor:pointer;
		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}
#link_center {
	text-align: center;
	cursor:pointer;
		text-align: center;
	cursor:pointer;
		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.button_center {
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
}

.button_center:focus {
	background-color: #eeeeee;
}

.button_center:hover {
	border: 1px solid #f4f4f4;
}
.nameBookFull {
	color: Black;
	font-variant: small-caps;
	font-weight: 900;
	font-size: 18px;
	font-style: normal;
}
.linkFull {
	color: slateblue;
	text-decoration: none;
	cursor:pointer;
}

.elem .linkAuthor {
	color: rgb(51, 51, 51);
    text-decoration: none;
    padding-top: 5px;
    cursor: pointer;
}

.linkGenre {
	color: slateblue;
	text-decoration: none;
	cursor:pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.linkGenre:hover, .linkGenre:active{

    text-decoration: underline;
}

.elem .linkGenre {
    color: rgb(148, 148, 148);
    text-decoration: none;
    cursor: pointer;
    padding-top: 3px;
    		-webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease; 
}

.elem .linkGenre:hover, .elem .linkGenre:active,
.elem .linkAuthor:hover, .elem .linkAuthor:active,
.elem .linkToBook:hover, .elem .linkToBook:active{

    color: #F3C72A;
}


.elem .linkToBook {
	color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    cursor: pointer;
}

.linkFull:hover, .linkFull:active  { text-decoration: underline; } 

.labelFull {
	color: dimgray;
	border-bottom: 1px dotted Silver;
}
.labelFullNotBorder {
	color: dimgray;
}
.textForDate{
	color: #66cc66;
	font-weight: 600;
	font-size: 12px;
	
}

.textDate{
	font-weight: 700;
	font-size: 12px;
	
}
#but_info{
	margin-bottom: 1px;
}
.buttonAddIn {
	position: relative;
    padding: 6px 10px 6px 10px;
    border: 2px solid #333333;
    border-radius: 4px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
	background: transparent;
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
} 
  
.buttonAddIn:hover { background: #333333;
    color: #fdc600;}
.buttonAddIn:active { background: #333333;
    color: #fdc600; }
.imageFull {
    margin:1em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}   

.labelText {
	color: Black;
	font-weight:900;
	font-size: 12pt;
	font-style: normal;
}
.textForBook {
margin:0.5em 1em;
}    

/* ПОИСК */

#search_box{
position:fixed;
	top:0;
}



.gwt-StackPanel{
    border: 0;
    width: 100%;
}

.gwt-StackPanel .gwt-StackPanelItem{
	background: rgba(37, 32, 46, 0.04);
	border-left: 3px solid transparent;
	border-bottom: 0;
	font-weight: 700;
    text-transform: uppercase;
	cursor:pointer;
	padding: 10px 10px;
		  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}

.gwt-StackPanel .gwt-StackPanelItem:hover{
	border-left: 3px solid rgba(253, 198, 0, 0.7);	
	color: #6F6F6F;

}
.gwt-StackPanel .gwt-StackPanelItem-selected{
	color: rgba(253, 198, 0, 0.7);
	background: #fff;
	border-left: 3px solid rgba(253, 198, 0, 0.7);
}
.gwt-StackPanel .gwt-StackPanelContent{
	background: #fff;
	border-left: 3px solid rgba(253, 198, 0, 0.7);
	padding: 0 20px 10px;
}

.gwt-StackPanel .gwt-StackPanelContent a,
.gwt-StackPanel .gwt-StackPanelContent a:visited{
	color: #000;	
}

.gwt-StackPanel .gwt-StackPanelContent a:hover{
	color: #6F6F6F;
}
.gwt-StackPanel .gwt-StackPanelContent a:active{
	color: rgba(253, 198, 0, 0.7);
}
/*навигация*/

#wrapper {	
	width: 200px;
	margin: 35px 0 0;
	/font-size: 0.8125em;
}
.menu {
	width: auto;
	height: auto;
}
.menu > li > a {
	background: rgba(37, 32, 46, 0.04);
	border-left: 3px solid transparent;
	width: 100%;
	height: 3.75em;
	line-height: 3.75em;
	text-indent: 3.75em;
	display: block;
	position: relative;
	font-weight: 600;
	color: #000;
	text-transform:uppercase;
	-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
.menu ul li a {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #efeff0;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-size: 0.923em;
	font-weight: 400;
	color: #878d95;
	border-left: 3px solid rgba(253, 198, 0, 0.7);
	-webkit-box-shadow: 0px 8px 22px -17px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 8px 22px -17px rgba(0,0,0,0.7);
	box-shadow:  0px 8px 22px -17px rgba(0,0,0,0.7);
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}

.menu > li > a:hover{
	background-color: #fff;
	color: #6F6F6F;
	border-left: 3px solid rgba(253, 198, 0, 0.7);
	-webkit-box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
	box-shadow: 0px -8px 22px -17px rgba(0,0,0,0.7), 0px 8px 22px -17px rgba(0,0,0,0.7);
}

.menu > li > a.active {
	background-color: #fff;
	color: rgba(253, 198, 0, 0.9);
	border-left: 3px solid rgba(253, 198, 0, 0.7);
}

.menu > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	/background: #a2a2a2;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #d0d0d3;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;

	font-weight: 500;
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}
.menu > li > a:hover span, .menu > li a.active span {
	background: rgba(253, 198, 0, 0.7);
	color: #fff;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: rgba(253, 198, 0, 0.7);	
}
.menu > li > ul li:hover a span{
	border: 1px solid rgba(253, 198, 0, 0.7);
}


.menu ul > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	line-height: 1em;
	border: 1px solid #d0d0d3;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
		-webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease; 
}